body {
  background-color: #f8f9fa;
  padding-top: 50px;
  font-family: sans-serif;
}
.media-container {
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
}
h1,
h2 {
  color: #343a40;
  margin-bottom: 30px;
}
audio,
video {
  width: 100%;
  max-width: 720px;
  border-radius: 10px;
}
